@model Negocio.WCFAlumnos.AportacionesIMSS

<div>
    <h4>AportacionesIMSS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cesantia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CesantiaP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadMaternal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadMaternal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Infonavit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Infonavit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvalidezVida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvalidezVida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retiro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
